{% extends "base.html" %}

{% block content %}
<h3>Thread for {% if user != object.first %}{{ object.first }}{% else %}{{ object.second }}{% endif %}</h3>
<ul id='chat-items'>
{% for chat in object.chatmessage_set.all %}

<li>{{ chat.message }} via {{ chat.user }}</li>

{% endfor %}
</ul>

<form id='form' method='POST'> {% csrf_token %}
{{form.as_p }}
<input type='submit' class='btn btn-primary'/>
</form>

{% endblock %}

{% block script %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/reconnecting-websocket/1.0.0/reconnecting-websocket.min.js"></script>
<script>
// websocket scripts

    var loc = window.location;
    var formData = $("#form");
    var messageInput = $("#id_message");
    var chatItem = $("#chat-items")

    var wsStart = 'ws://'

    if (loc.protocol == 'https:' ) {
        wsStart = 'wss://'
    }

    var endpoint = wsStart + loc.host + loc.pathname;

    var socket = new ReconnectingWebSocket(endpoint)

    socket.onopen = function(ev) {
        console.log('open', ev);
        formData.submit(function (event) {
            event.preventDefault();
            var msgValue = messageInput.val()
            var finalMsg = {
                message: msgValue
            }
            socket.send(JSON.stringify(finalMsg));
            formData[0].reset();
        })
    }
    socket.onmessage  = function(ev) {
        console.log('onmessage', ev)

        var data = JSON.parse(ev.data)

        chatItem.append('<li>' + data.message + " via " + data.username +'</li>')

    }
    socket.onerror = function(ev) {
        console.log('onerror', ev)
    }
    socket.onclose = function(ev) {
        console.log('onclose', ev)
    }

</script>
{% endblock %}